<!doctype html>
<!-- prettier-ignore -->
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>React App</title>
  <meta name="description" content="Built using @pixelry/react-app" />
  <meta name="viewport" content="width=device-width, user-scalable=no, viewport-fit=cover" />
</head>

<body>
  <%= reactDiv %>
</body>

</html>
