<!doctype html>
<!-- prettier-ignore -->
<html className="antialiased [font-feature-settings:'ss01']" lang="en">

<head>
  <meta charset="utf-8" />
  <title>Pixelry</title>
  <meta name="description" content="Libraries, tools, and articles for mastering UI development" />
  <meta name="viewport" content="width=device-width, user-scalable=no, viewport-fit=cover" />

  <meta name="theme-color" content="<%= light %>" media="(prefers-color-scheme: light)" />
  <meta name="theme-color" content="<%= dark %>" media="(prefers-color-scheme: dark)" />

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

</head>

<body class="bg-light dark:bg-dark">
  <div id="main"></div>
</body>

</html>
